<link rel="stylesheet" href="/css/valine.css">
<div class="card valine-card">
    <div class="comment_headling">
        <i class="fa fa-comments fa-fw" aria-hidden="true"></i>
        <span><%- __('comment')%></span>
    </div>
    <div id="vcomments" class="card-content">
    </div>
</div>
<script src="<%- url_for('/libs/valine/av-min.min.js') %>"></script>
<script src="<%- url_for('/libs/valine/Valine.min.js') %>"></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%- theme.comments.valine.appId %>',
        appKey: '<%- theme.comments.valine.appKey %>',
        visitor: '<%- theme.comments.valine.visitor %>' === 'true',
        avatar: '<%- theme.comments.valine.avatar %>',
        pageSize: '<%- theme.comments.valine.pageSize %>',
        lang: '<% if (theme.language == "zh-CN") {  %>zh-cn<% } else { %>en<% } %>',
        placeholder: '<%= theme.comments.valine.placeholder %>'
    });
</script>
